html{
    max-width: 100vw;
    max-height: 100vv;
    overflow-x: hidden;
}

#body{
    padding: 0;
    margin: 0;
    background-color: unset;
}

.container-fluid{
    background-color: rgb(170, 170, 113);
    height: 7vh;
    text-align: center;
    padding-top: 10px;
}

.fixed-header{
    position: fixed;
    top: 0;
    z-index: 9999;
    
}

.rules_container{
    background-color: red;
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 7vh
}

.rules_block{
    
}
